<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
          <!-- <div class="col-lg-2 text-center">
            <img src="./img/devopsdaysdsm.png" alt="DevOpsDays Logo" width="200">
          </div> -->
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About DevOpsDays</h2>
                <hr class="light">
                <p class="text-faded">DevOpsDays is a worldwide community conference series for anyone interested in IT improvement.</p>
                <hr class="light">
                <h4>Be a part of the first ever DevOpsDays in Iowa!</h4>
                <p class="text-faded">
                  DevOpsDays is a worldwide series of technical conferences that started in Ghent, Belgium in 2009. In 2017, there were over 50 DevOpsDays events held across the globe.
                  <br><br>On April 12th and 13th, Des Moines will be hosting its first DevOpsDay at the Community Choice Credit Union Convention Center!
                  <br><br>Topics will include software development, IT infrastructure operation, automation, testing, security and organizational cultures.
                  <br><br>DevOpsDays is dedicated to providing an environment where everyone in the devops community can learn and share in respectful, considerate collaboration.
                  <br><br>In that effort we have a code of conduct that we expect everyone involved with the conference to follow.
                </p>
                <a href="#register" class="btn btn-default btn-xl page-scroll wow tada">Get Started!</a>
            </div>
            <!-- <div class="col-lg-2 text-center">
              <img src="./img/devopsdaysdsm.png" alt="DevOpsDays Logo" width="200">
            </div> -->
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center wow tada">
          <img src="./img/devopsdaysdsm.png" alt="DevOpsDays Logo" width="200">
        </div>
    </div>
</section>
