<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>


        <div class="col-lg-4 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <!-- <p>{{ site.twitter_username }}</p> -->
            </a>
        </div>
        <div class="col-lg-4 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-4 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

        <div class="col-lg-4 text-center">
          <iframe id="twitter-widget-0"
            scrolling="no"
            frameborder="0"
            allowtransparency="true"
            class="twitter-follow-button twitter-follow-button-rendered"
            title="Twitter Follow Button"
            src="https://platform.twitter.com/widgets/follow_button.21783de9dc99fcf78a11eef96926d932.en.html#dnt=true&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=devopsdaysdsm&amp;show_count=false&amp;show_screen_name=true&amp;size=m&amp;time=1510882051116"
            style="position: static; visibility: visible; width: 157px; height: 20px;"
            data-screen-name="devopsdaysdsm">
          </iframe>
          <a class="twitter-timeline"
          data-width="300"
          data-height="800"
          data-theme="dark"
          href="https://twitter.com/devopsdays/lists/devopsdays">A Twitter List by devopsdays</a>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </a>
      </div>

    </div>
</section>
