<header>
    <div id="header" class="header-content"
      style="background-color: rgba(0, 0, 0, 0.64);">
        <div class="header-content-inner">
            <!-- <p> </p> -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-1 col-md-6 text-center">
                      <h1>DevOpsDays</h1>
                    </div>

                    <div class="col-lg-4 col-lg-offset-1 col-md-6 text-center">
                      <h1>Des Moines</h1>
                    </div>

                </div>
            </div>
            <hr>


            <div class="container">
                <div class="row">

                  <div class="col-lg-4 col-lg-offset-1 col-md-6 text-center">
                    <h3>Thursday-Friday</h3>
                    <h2>Apr 12-13, 2018</h2>
                  </div>

                  <div class="col-lg-4 col-lg-offset-1 col-md-6 text-center">
                    <h3>
                      Iowa Events Center<br>
                      730 3rd Street<br>
                      Des Moines, IA 50309
                    </h3>
                  </div>

                </div>
            </div>
            <a href="#location" class="btn btn-primary btn-xl page-scroll wow tada">Find Out More</a>
            <p> </p>
        </div>
    </div>
</header>
