<section id="location">
  <aside class="bg-dark">
      <div class="container text-center">

          <div class="call-to-action">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <i class="fa fa-map-marker fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">

              <h2>When and where is Devops Days Des Moines?</h2>
            <p>Devops Days Des Moines is happening on April 12th and 13th 2018 at the Iowa Events Center!
              <br><br>We will be accepting all types of proposals for talks beginning November 6, 2017 through January 14th 2018.
              <br><br>This is our first year, and we’re looking for talk submissions on all devops related topics at any skill level. </p>
                <a href="#about" class="btn btn-default btn-xl page-scroll wow tada">About DevOpsDays</a>
            </div>
          </div>
      </div>
  </aside>
</section>
