<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <img src="img/devopsdays-brain.png" alt="" style="width:30px;height:30px;"> -->
            <a class="navbar-brand page-scroll" href="#page-top">
              <img src="img/devopsdays-brain.png" alt="devopsdays logo" style="height:30px;display:inline-block;">
              <span style="display: inline-block;">
              DevOpsDays DSM
              </span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

<!--  BEGIN DEVOPSDAYS MASTER NAV -->
<!--
                <li>
                    <a class="page-scroll" href="#devopsdays">devopsdays</a>
                </li>

                <li>
                    <a class="page-scroll" href="#events">EVENTS</a>
                </li>

                <li>
                    <a class="page-scroll" href="#blog">BLOG</a>
                </li>

                <li>
                    <a class="page-scroll" href="#sponsor">SPONSOR</a>
                </li>

                <li>
                    <a class="page-scroll" href="#speaking">SPEAKING</a>
                </li>

                <li>
                    <a class="page-scroll" href="#organizing">ORGANIZING</a>
                </li>

                <li>
                    <a class="page-scroll" href="#about">ABOUT</a>
                </li> -->

<!--  END DEVOPSDAYS MASTER NAV -->

<!--  BEGIN DES MOINES SPECIFIC NAV -->


                <li>
                    <a class="page-scroll" href="#program">PROGRAM</a>
                </li>

                <li>
                    <a class="page-scroll" href="#location">LOCATION</a>
                </li>

                <li>
                    <a class="page-scroll" href="#registration">REGISTRATION</a>
                </li>

                <li>
                    <a class="page-scroll" href="#speakers">SPEAKERS</a>
                </li>

                <li>
                  <a class="page-scroll" href="#volunteer">VOLUNTEER</a>
                </li>

                <li>
                    <a class="page-scroll" href="https://www.devopsdays.org/events/2018-des-moines/sponsor">SPONSOR</a>
                </li>

                <li>
                    <a class="page-scroll" href="#contact">CONTACT</a>
                </li>

                <li>
                    <a class="page-scroll" href="#conduct">CONDUCT</a>
                </li>


<!--  END DES MOINES SPECIFIC NAV -->

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
