<section class="bg-primary" id="speakers">
    <div class="container">
        <div class="row">
          <!-- <div class="col-lg-2 text-center">
            <img src="./img/devopsdaysdsm.png" alt="DevOpsDays Logo" width="200">
          </div> -->
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Speakers</h2>
                <hr class="light">
                <h2 class="light wow tada">CFP closes on: January 15, 2018 12:00am</h2>
                <hr class="light">
                <h4>Be a part of the first ever DevOpsDays in Iowa!</h4>
                <p class="text-faded">
                  What should I speak about?
  There will be two types of talks: <br><br>
  regular presentation style talks lasting from 30-45 minutes,
  and ignites in which you’ll be given about 5-10 minutes to talk about a topic of your choosing.
  <br><br>The venue is fairly flexible, so feel free to be creative with your presentation style and include demos, 
  short workshops,
  or anything else you’re excited to share with the community.
                </p>
                <a href="https://www.papercall.io/devopsdaysdesmoines" class="btn btn-default btn-xl page-scroll wow tada">Submit a Talk!</a>
            </div>
            <!-- <div class="col-lg-2 text-center">
              <img src="./img/devopsdaysdsm.png" alt="DevOpsDays Logo" width="200">
            </div> -->
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <i class="fa fa-bullhorn fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        </div>
    </div>
</section>
