<section id="sponsor">
  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <i class="fa fa-trophy fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2>We greatly value sponsors for this open event.
              </h2>
              <p>If you are interested in sponsoring, please drop us an
                  <a class="page-scroll" href="#contact">email</a>.
              </p>
              <p>
                devopsdays is a self-organizing conference for practitioners that depends on sponsorships. We do not have vendor booths, sell product presentations, or distribute attendee contact lists. Sponsors will get recognition on the website and social media before, during and after the event. Sponsors are encouraged to represent themselves by actively participating and engaging with the attendees as peers. Any attendee also has the opportunity to demo products/projects as part of an open space session.
                <br><br>
                All attendees are welcome to propose any subject they want during the open spaces, but this is a community-focused conference, so heavy marketing will probably work against you when trying to make a good impression on the attendees.
                <br><br>
                The best thing to do is send engineers to interact with the experts at devopsdays on their own terms.
            </p>
              <a href="https://www.devopsdays.org/events/2018-des-moines/sponsor/" class="btn btn-default page-scroll btn-xl wow tada">Sponsor Form</a>
          </div>
        </div>
      </div>
  </aside>
</section>
