<section id="volunteer">
  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <i class="fa fa-heart fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2>We greatly value volunteers for making this event possible.
              </h2>
              <p>If you are interested in volunteering, please drop us an
                  <a class="page-scroll" href="#contact">email</a>.
              </p>

              <a href="#contact" class="btn btn-default page-scroll btn-xl wow tada">Contact us to Volunteer!</a>
          </div>
        </div>
      </div>
  </aside>
</section>
